@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

html {
    --black:	#21252a;
    --grey-1: #343A40;
    --grey-2: #495057;
    --grey-3: #1a1a1a;
    --grey-4: #ADB5BD;
    --grey-5: #CED4DA;
    --grey-6: #DEE2E6;
    --grey-7: #E9ECEF;
    --grey-8: #F1F3F5;
    --grey-9: #F8F9FA;
    --trans-black: rgba(33, 37, 42, .9);
    --red: #c90758;
    --gold: #ffda65;
    --gold-dark: #a3862c;
    --bronze: #c99355;
    --bronze-dark: #80582c;
  }
  

* {
	box-sizing: border-box;
}

body {
	background-color: #1a1a1d;
	color: #fff;
	font-family: 'Poppins', sans-serif;
	margin: 0;
}

header {
	
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: calc(100vh - 63px);	
	position: relative;
}

header * {
	z-index: 1;
}

header::after {
	content: '';
	background-color: #000;
	opacity: 0.4;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

header h1 {
	color: #fff;
	font-size: 4em;
	text-align: center;
	width: 60%;
}

nav {
	background-color:#1a1a1d;
	box-shadow: 0 1px 4px rgba(255, 255, 255, 0.9);
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 15px;
  margin-bottom: 0;
}

nav p {
  font-size: 1.6rem;
	color: white;
	font-weight: bold;
	margin: 5px;
	letter-spacing: 1px;
	text-transform: uppercase;
}


.burger {
	border: 0;
	cursor: pointer;
	display: none;
	font-size: 22px;
	position: relative;
	padding: 0;
	outline: none;
	height: 30px;
	width: 30px;
}

.burger:active {
	color: #DA0037;
	outline: none;
}

.burger .bar {
	background-color: #4E4E50;
	position: absolute;
	left: 50%;
	transform: translate(-50%, -50%) rotate(0deg);
	height: 3px;
	width: 20px;
	transition: transform 0.2s ease;
}

.burger .bar:first-of-type {
	top: 40%;
}

.burger .bar:last-of-type {
	top: 60%;
}

ul {
	display: flex;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

ul li {
	margin: 0 10px;
}

ul li a {
  font-size: 1rem;
	color: #fff;
	position: relative;
	text-decoration: none;
}

ul li a::after {
	content: '';
	background-color: #fff;
	position: absolute;
	bottom: -18px;
	left: 0;
	opacity: 0;
	height: 2px;
	width: 100%;
	transition: transform 0.2s ease;
}

ul li a:hover::after {
	opacity: 1;
	transform: translateY(-15px);
}

.sec-title{
    font-size: 56px;
    font-weight: 300;
      letter-spacing: 0px;
      line-height: 1.4;
  }

  

@media screen and (max-width: 480px) {
	header h1 {
		font-size: 2em;
	}
	
	.burger {
		display: block;
	}
	
	.burger.show-x .bar:first-of-type {
		transform: translate(-50%, 50%) rotate(225deg);
	}
	
	.burger.show-x .bar:last-of-type {
		transform: translate(-50%, -150%) rotate(-225deg);
	}
	
	ul {
		background-color: black;
		box-shadow:0 1px 4px rgba(255, 255, 255, 0.9);
		flex-direction: column;
		text-align: center;
		position: fixed;
		top: 80px;
		left: 10%;
		transform: translateX(120%);
		width: 80%;
		transition: transform 0.3s ease-in;
		z-index: 100;
	}
	
	ul.show {
		transform: translateX(0);
	}
	
	ul li {
		margin: 15px;
	}
}

#image{
    width:5rem;
}

.left{
    display: flex;
}


  html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  html, body {
    width: 100%;
    height: 100%;
  }
  
  /* body {
    font-family: "Inter UI", system-ui;
    color: var(--black);
    background: var(--black);
  } */
  
  .list {
    width: 100%;
    max-width: 600px;
    margin: 3rem auto 3rem;
    border-radius: 0.4rem;
    box-shadow: 0px 12px 25px rgba(0, 0, 0, 0.1), 0px 5px 12px rgba(0, 0, 0, 0.07);
  }
  @media screen and (max-width: 800px) {
    .list {
      margin: 0 auto;
    }
  }
  .list__table {
    width: 100%;
    border-spacing: 0;
    color: var(--grey-3);
  }
  .list__header {
    padding: 3rem 2rem;
    background: white;
    border-top-left-radius: 0.4rem;
    border-top-right-radius: 0.4rem;
  }
  .list__header h1, .list__header h4 {
    margin: 0;
    padding: 0;
  }
  .list__header h4 {
    margin-bottom: 0.5rem;
    text-transform: uppercase;
    color: var(--red);
  }
  .list__value {
    display: block;
    font-size: 18px;
  }


  .list__label {
    font-size: 11px;
    opacity: 0.6;
  }
  .list__row {
    background: var(--grey-7);
    cursor: pointer;
    transition: all 300ms ease;
  }
  .list__row:hover, .list__row:focus {
    transform: scale(1.05);
    box-shadow: 0px 15px 28px rgba(0, 0, 0, 0.1), 0px 5px 12px rgba(0, 0, 0, 0.08);
    transition: all 300ms ease;
  }
  .list__row:not(:last-of-type) .list__cell {
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.08);
  }
  .list__row:first-of-type {
    color: var(--gold-dark);
    background: var(--grey-9);
  }
  .list__row:first-of-type .list__cell:first-of-type {
    background: var(--gold);
    color: var(--gold-dark);
  }
  .list__row:nth-of-type(2) {
    color: var(--grey-2);
    background: var(--grey-9);
  }
  .list__row:nth-of-type(2) .list__cell:first-of-type {
    background: var(--grey-4);
    color: var(--grey-2);
  }
  .list__row:nth-of-type(3) {
    color: var(--bronze-dark);
    background: var(--grey-9);
  }
  .list__row:nth-of-type(3) .list__cell:first-of-type {
    background: var(--bronze);
    color: var(--bronze-dark);
  }
  .list__cell {
    padding: 1rem;
  }
  .list__cell:first-of-type {
    text-align: center;
    padding: 1rem 0.2rem;
    background: var(--grey-5);
  }
  
  .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: var(--trans-black);
    display: none;
    cursor: pointer;
    transition: all 300ms ease;
  }
  .overlay.is-open {
    display: block;
  }
  
  .sidebar {
    position: fixed;
    background: white;
    width: 100%;
    max-width: 500px;
    top: 0;
    bottom: 0;
    box-shadow: none;
    right: -500px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /*@media screen and (max-width: 650px) {
        flex-direction: column-reverse;
        justify-content: space-between;
    }*/
    transition: all 300ms ease;
  }
  .sidebar.is-open {
    right: 0;
    transition: all 300ms ease;
    box-shadow: 0px 0px 100px var(--black);
  }
  .sidebar__header {
    display: flex;
    justify-content: space-between;
    background: var(--grey-9);
    align-items: center;
  }
  .sidebar__header, .sidebar__body {
    padding: 2rem;
  }
  .sidebar__title {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--grey-4);
  }
  
  .button {
    font-family: inherit;
    border: 0;
    background: transparent;
    cursor: pointer;
  }
  .button:focus, .button:active {
    outline: 0;
  }
  .button--close {
    padding: 0;
    margin: 0;
    height: auto;
    line-height: 1;
    color: var(--grey-5);
  }
  .button--close:hover {
    color: var(--grey--4);
  }
  
  .driver {
    display: flex;
    align-items: flex-start;
    opacity: 0;
    position: relative;
    left: 100px;
    -webkit-animation: fade 500ms ease 150ms forwards;
            animation: fade 500ms ease 150ms forwards;
  }
  .driver__image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-size: 220px;
    background-repeat: no-repeat;
    background-position: top center;
    border: 3px solid white;
    box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.12);
    margin-right: 1.5rem;
  }
  .driver__content {
    width: auto;
  }
  .driver__title {
    font-weight: 700;
    font-size: 1.6rem;
    margin: 0.5rem 0;
  }
  .driver__table {
    width: 100%;
    color: var(--grey-2);
  }
  .driver__table small {
    color: var(--grey-4);
  }
  .driver__table td {
    padding: 0.3rem 0.6rem 0.3rem 0;
    height: 2rem;
  }
  .driver__table td img {
    position: relative;
    top: 5px;
    margin-right: 6px;
  }
  
  @-webkit-keyframes fade {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
      left: 0;
    }
  }
  
  @keyframes fade {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
      left: 0;
    }
  }

  #logo img{
      width: 7rem;
     
  }
  #logo{
      display: flex;
      justify-content: center;
      margin-left: 0;
  }
  .eventchair th, td{
      margin: 2px ;
  }
  .base{
      display: flex;
      width: 100%;
      flex-wrap: wrap;
      

  }
  footer{
    /* background-color: #fff; */
	box-shadow: 0 1px 4px rgba(255, 255, 255, 0.9);
  }
  .district {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    font-size: 1.2rem;
    /* margin-left: 18px; */
}

   .eventChair{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: right;
      /* font-size: 1.2rem; */
  }

  .background{
    background-color: var(--black);
    color: white;
  }
  .backgroundf{
    background-color: #1a1a1d;
    color: white;
  }
  #logo2{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    margin: 2px;
  }
  #logo2 img{
    width: 16rem;
  }

  a i{
    /* text-decoration: none; */
    color: white;

  }
  a i :hover{
    color: rgb(206, 3, 37)
  }
  
@media screen and (max-width: 590px ){

  .base{
    display:block;
    padding: 5px;
  }
.district{
  margin: 3px;
}
.rvLogo{
  display: none;
}
  
  
}

@media screen and (max-width: 380px ){
  .base{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  #logo img{
    width: 3rem;
  }
  
  #logo {
    margin:4px;
  }
  #logo2 img{
    width: 12rem;
    
  }
  .district {
    margin: 7px 0 7px 0;
    font-size: 0.9rem;
  }
  .eventChair{
    font-size: 0.9rem;
  }
  
}

@media screen and (min-width: 600px ) and (max-width:1100px){
  .base{
    display: grid;
    justify-content: center
  }
  .eventChair{
    display: grid;
    grid-column: 1/7;
    
  }
  
}

.lighterback{
  background-color: rgba(142, 142, 142, 0.1)
}
 
